#canvas {
    border: 2px solid #000;
}

#game-message {
    margin: 20px 0;
    font-size: 20px;
}

#keys {
    margin-top: 10px;
    width: 192px;

    @media (min-width: 769px) { display: none; }

    & > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -moz-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
    }

    .key-image {
        cursor: pointer;
        height: 64px;
        width: 64px;
        -webkit-tap-highlight-color: transparent;

        &#key-up {
            text-align: center;
            background-image: url(../img/buttons.png);
            background-position: -320px -64px;

            &:active { background-position: -384px -64px; }
        }
        &#key-left {
            background-image: url(../img/buttons.png);
            background-position: -320px -128px;

            &:active { background-position: -384px -128px; }
        }
        &#key-down {
            background-image: url(../img/buttons.png);
            background-position: -64px -128px;

            &:active { background-position: -128px -128px; }
        }
        &#key-right {
            background-image: url(../img/buttons.png);
            background-position: -64px -192px;

            &:active { background-position: -128px -192px; }
        }
    }
}