#canvas {
  border: 2px solid #000;
}

#game-message {
  margin: 20px 0;
  font-size: 20px;
}

#keys {
  margin-top: 10px;
  width: 192px;
}
@media (min-width: 769px) {
  #keys {
    display: none;
  }
}
#keys > div {
  display: -moz-flex;
  display: flex;
  -moz-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}
#keys .key-image {
  cursor: pointer;
  height: 64px;
  width: 64px;
  -webkit-tap-highlight-color: transparent;
}
#keys .key-image#key-up {
  text-align: center;
  background-image: url(../img/buttons.png);
  background-position: -320px -64px;
}
#keys .key-image#key-up:active {
  background-position: -384px -64px;
}
#keys .key-image#key-left {
  background-image: url(../img/buttons.png);
  background-position: -320px -128px;
}
#keys .key-image#key-left:active {
  background-position: -384px -128px;
}
#keys .key-image#key-down {
  background-image: url(../img/buttons.png);
  background-position: -64px -128px;
}
#keys .key-image#key-down:active {
  background-position: -128px -128px;
}
#keys .key-image#key-right {
  background-image: url(../img/buttons.png);
  background-position: -64px -192px;
}
#keys .key-image#key-right:active {
  background-position: -128px -192px;
}